@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  background: #010426;
  color: white;
 }

.input{
  @apply outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 pl-3 pr-14 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.df{
  @apply flex justify-start items-center
}
 

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(17, 24, 39, 0.818);
}


/* signup login form  style */

.mainDiv {
  @apply bg-slate-900 h-[100vh] text-white flex justify-center items-center flex-col;
}
.loginH1 {
  @apply font-semibold mb-5 text-[30px];
}
.loginDiv {
  @apply flex flex-col justify-center items-center bg-slate-700 p-5 rounded-lg border-t-4 border-sky-400 sm:w-[500px] w-[90%] shadow-md shadow-slate-200;
}
.loginForm {
  @apply flex flex-col gap-6 sm:w-[60%] w-[80%];
}
.formInput {
  @apply bg-transparent w-[100%] border-b-2 border-sky-400 rounded-sm outline-none text-center py-4 text-[18px];
}
.lsBtn {
  @apply mt-5 bg-sky-400 rounded-sm py-1 text-[25px] font-bold text-slate-700;
}
.loginP {
  @apply my-8;
}
.bg {
  @apply bg-sky-400;
}
.box {
  @apply bg-sky-400 h-[100px] w-[100px] rounded-md flex justify-center items-center flex-col;
}

.homeTaskCompletedBox {
  @apply sm:w-[400px] w-[90%] h-[250px]  rounded-xl flex flex-col justify-center items-center;
}

.progressBarOutside {
  @apply md:w-[70%] w-[100%] h-[30px] bg-[#22190a3d] rounded-full;
}

.progressBarInside {
  @apply h-full flex justify-center items-center text-[18px] font-bold  text-center p-0.5 leading-none rounded-full;
}
.homeTaskBox {
  @apply sm:w-[400px] w-[90%] flex-wrap  h-full pb-[90px]  rounded-xl flex flex-col items-center pt-6;
}

.btn {
  @apply bg-sky-800 px-5 py-3 rounded-lg text-[20px] font-semibold text-white transition-all duration-75 hover:scale-105 active:scale-95
}

.edbtn{
  @apply  px-5 rounded-lg text-[20px] font-semibold transition-all duration-75 hover:scale-105 active:scale-95
}